@{
    ViewData["Title"] = "Index";
}
<div class="padding">
<h1>About</h1>
<br/>

<p>Welcome to Smart Scout, your number one source for all things Finding Talented Recruits. We're dedicated to giving you the very best of Smart Scout, with a focus on Organization, Communication, and Confidence.</p>

<p>Founded in 1922 by Joe Bob, Smart Scout has come a long way from its beginnings in Nowhere, USA. When Joe Bob first started out, his passion for exposing excellent talent drove him to connect with , High School, Collegiate and NBA coaches, athletes and recruiters so that Smart Scout can offer you the best recruitment software. We now serve customers all over the world, and are thrilled that we're able to turn our passion into our own website.</p>

<p>We hope you enjoy our products as much aswe enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>

<h5>Sincerely,</h5>
    <h5>Joe Bob</h5>
</div>