@{
    ViewData["Title"] = "Home Page";
}

<div class="view padding">
    <div class="jumbotron bg-img">
        <h1 class="display-3 white">What Separates a Good Recruiter from a Great One?</h1>
        <p class="lead white">Organization and Communication is a major key in scouting talent for your organization.</p>
        <hr class="my-4 white">
        <p class="white">Smart Scout lets you stay up to date on prospects that are not getting the media hignlights they deserve.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Home/About" role="button">Learn more</a>
        </p>
    </div>
</div>